<h1>All Directors</h1>

<!--Update this code for link to add new Director-->
<!--<a href="/photos/new">-->
    <!--Add a new photo-->
<!--</a>-->

<div>

<table>
    
    <% @d.each do |director| %>
    
  <tr>
    <th>Delete</th>  
    <th>Name</th>
    <th>Bio</th> 
    <th>Dob</th>
    <th>Image</th>
  </tr>
  
  <tr>
    <td><a href="/delete_director/<%= director.id %>">Delete</a></td>  
    <td><%= director.name %></td>
    <td><%= director.bio %></td>
    <td><%= director.dob %></td>
    <td><img src="<%= director.image_url %>"></td>
  </tr>
  
    <% end %>
  
</table>

</div>