<h1>Edit Movie <%= @m.id %></h1>

<form action="/update_movie/<%= @m.id %>">
 
  <div>
    <label for="title_input">
      Title
    </label>
    <input id="title_input" type="string" name="the_title" value="<%= @m.title %>">
  </div>

  <div>
    <label for="year_input">
      Year
    </label>
    <input id="year_input" type="integer" name="the_year" value="<%= @m.year %>">
  </div>

  <div>
    <label for="duration_input">
      Duration
    </label>
    <input id="duration_input" type="integer" name="the_duration" value="<%= @m.duration %>">
  </div>

  <div>
    <label for="description_input">
      Description
    </label>
    <input id="description_input" type="text" name="the_description" value="<%= @m.description %>">
  </div>

  <div>
    <label for="image_url_input">
      Image url
    </label>
    <input id="image_url_input" type="string" name="the_image_url"  value="<%= @m.image_url %>">
  </div>

  <button>
    Update movie
  </button>
</form>